<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

<body>

    <div class="content book-view">
        
        <img class="book-cover" src="<%= book.cover %>" alt="Cover" width="254px" height="364px">

        <form class="auth-card book-form" action="/books/<%= book._id %>?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT">

            <div class="formbox">
                <label>Título:</label>
                <input type="text" name="title" value="<%= book.title %>" required>

                <label>Capa (URL):</label>
                <input type="text" name="cover" value="<%= book.cover %>" required>

                <label>Status:</label>
                <select name="status" id="status">
                    <option value="lido" <%= book.status === "lido" ? "selected" : "" %>>Lido</option>
                    <option value="desejado" <%= book.status === "desejado" ? "selected" : "" %>>Desejado</option>
                </select>

                <div id="rating-box" <%= book.status === 'lido' ? style='display: block' : style='display:none' %>>
                    <label>Nota:</label>
                    <input type="text" name="rating" value="<%= book.rating || '' %>">
                </div>

                <label>Autor:</label>
                <input type="text" name="author" value="<%= book.author %>" required>

                <label>Descrição:</label>
                <textarea name="description" class="description-box"><%= book.desc %></textarea>

                <label>Link do Livro:</label>
                <input type="text" name="link" value="<%= book.link %>">

                <button class="btn" type="submit">Salvar alterações</button>
            </div>
        </form>

        <form action="/books/<%= book._id %>?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn delete-btn" type="submit">Excluir livro</button>
        </form>

    </div>

    <script>
        const status = document.getElementById("status");
        const ratingBox = document.getElementById("rating-box");

        status.addEventListener("change", () => {
            ratingBox.style.display = status.value === "lido" ? "block" : "none";
        });
    </script>

</body>
</html>
